.k{
height: fit-content;
width: 80%;
border: 2px solid ;
display: flex;
flex-direction: column;
align-items: center;
margin: 2%;
}
.aa{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    display: flex;
    width: 250px;
    flex-direction: column;
}
.ss{
    height:fit-content ;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.kk{
     height: fit-content;
     width: 80%;
     border:2px solid ;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 2%;
}
.image{
    display: flex;
    width: 250;
    flex-direction: column;
}
button{
    background-color: rgb(219, 29, 29);
    color: aliceblue;
    font-size: 25px;
}
p{
    font-size: 23px;
}
body{
    background-color: azure;
}
.EE{ 
    color: black;
    font-size: 55px;
    
}
p{
    padding: 50px;
    stroke-width: 0.2px;
}